* {
    box-sizing: border-box;
}

.galary{

}

.img{
    width: 100%;
}

.main-body-meme {
    display: flex;

}

.img-control-panel {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

canvas {
    width: 400px;
    height: 400px;
    outline: 1px solid darkgray
}