* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-body-meme {
    display: flex;

}

.img-control-panel {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}