.galary .container>img {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    border: 1px solid lightgray;
    transition: scale .2s ease-in-out;
    cursor: pointer;
}

.galary .container>img:hover {
    scale: 1.05;
}

.upload-img,
.random-img {
    background-color: white;
    border-radius: 30px;
    border: black;
}

.galary .sort-by {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.sort-by input {
    width: fit-content;
    height: fit-content;
}

.key-words li {
    display: inline;
    list-style: none;
    padding: 0.5rem;
}