body {
    background-color: black;
    margin: 2rem;
    margin-inline: 4rem;
}




.galary .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;
}

nav {
    display: flex;
    gap: 16px;
}



@media only screen and (max-width:700px) {
    .galary .container  {
        grid-template-columns: repeat(2, 1fr);
    }
    .key-word {
        display: none !important;
    }

    .key-word:first-child {
        display: block !important;
    }
    .key-word::after {
        content: "more..";
        font-size: 1rem;
        display:inline;
        margin-inline: 1rem;
    }
}